name: Compile Dockerfile template

on: [push]

permissions:
  pull-requests: write
  contents: write

jobs:
  compile-dockerfile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Compile Dockerfile
        run: .util/compile-dockerfile.sh
      - name: Commit changes
        continue-on-error: true
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add Dockerfile
          git commit -m "[GitHub Action] Update Dockerfile"
      - name: Push changes
        uses: ad-m/github-push-action@master
        if: success()
        with:
          branch: ${{ github.ref }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
